*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FFA621;
    height: 120px;
    
}

.nav-logo{
    margin-left: 50px;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    
}

